In [1]:
import pandas as pd

In [2]:
gold = pd.read_csv('sample_test_set_gold.csv')
gold

      ID  label
0      0      0
1      1      6
2      2      0
3      3      4
4      4      6
..   ...    ...
177  177     14
178  178      6
179  179      0
180  180      6
181  181      2

[182 rows x 2 columns]

In [3]:
test = pd.read_csv('test.csv')
test

      ID  label
0      0      0
1      1      6
2      2      0
3      3      4
4      4      6
..   ...    ...
177  177     14
178  178      6
179  179      0
180  180      6
181  181      2

[182 rows x 2 columns]

In [8]:
sum(test.label == gold.label) / gold.shape[0] * 100

99.45054945054946

In [7]:
gold.shape[0]

182